deb/geox-tweak

geox-tweak.sublime-project
geox-tweak.sublime-workspace
setup.py
src-to-deb.sh
.idea/
src/geox-tweak/geox.glade~
src/geox-tweak/trad txt
deb/bug
version.sh
src/geox-tweak/script/wget-log
