[Desktop Entry]
Version=0.1.3
Type=Application
Name=GeoX-Tweak-Xfce
Comment=Customize Xfce appearance !
Categories=Utility;Settings;DesktopSettings
Exec=python3 /usr/share/geox-tweak/gtx_gui.py
Icon=preferences-desktop-theme
Keywords=appearance, theme, panel, xfce, tweak
