[Desktop Entry]
Version=1.0
Name=Xfce Terminal
Name[fr]=Terminal Xfce
Comment=Terminal Emulator
Comment[fr]=Émulateur de terminal
GenericName=Terminal Emulator
GenericName[fr]=Émulateur de terminal
Exec=xfce4-terminal
Icon=utilities-terminal
Terminal=false
Type=Application
Categories=GTK;System;TerminalEmulator;
StartupNotify=true
X-XFCE-Source=file:///usr/share/applications/xfce4-terminal.desktop
