[Desktop Entry]
Version=0.2.1
Type=Application
Name=GeoX-Tweak-Xfce
Comment=Customize Xfce appearance !
Categories=Utility;Settings;DesktopSettings
Exec=./usr/share/geox-tweak/script/firstrun.sh
Icon=preferences-desktop-theme
Keywords=appearance, theme, panel, xfce, tweak
