Package: geox-tweak-xfce
Version: 0.2.1
Section: base
Priority: optional
Architecture: all
Depends: python3 (>=3.6), python3-gi, gconf2, gir1.2-gtk-3.0, gtk2-engines-murrine, gtk2-engines-pixbuf, tar, xz-utils
Recommends: plank, xfdashboard, xfdashoard-plugin, xfce4-dockbarx-plugin, conky, synapse, conky-all, papirus-icon-theme, papirus-folders, xfce4-datetime-plugin, 
Maintainer: QaleK <aldek@vivaldi.net>
Homepage: <https://github.com/QaldeK/geox-tweak-xfce>
Description: Cutomize XFCE !
 GeoX-Tweak-Xfce is an alternative to the configuration tools of xfce desktops : It allows to change the gtk themes, the window decoration and the icons theme (including libreoffice buttons color) in a coherent way and in one click. No more dark icons on a dark theme. 
 Several themes are included, among which: Arc, Mint-Y, Adapta, Qogir, Matcha, McOS-MJV, Pro-dark-xfce ...
 It also makes it easy to change the organization of xfce panels, making it possible to make your xfce desktop look like Windows 10, 95, or gnome2, xubuntu, unity, mxlinux..
